.square{
  font-size: 10vmin;
  line-height: 10vmin;
  height: 10vmin;
  width: 10vmin;
  padding: 0;
  margin: 0;
  border: 0;
  float: left;
  text-align: center;
  background: inherit;
}

.square:focus {
  outline: none;
}

.square-highlight {
  background: teal !important
}

td {
    padding: 0 !important;
    width: 1% !important;
    white-space: nowrap;
}

tr.board-row-even > td:nth-child(odd) {background: #d08b46}
tr.board-row-even > td:nth-child(even) {background: #fecd9f}

tr.board-row.board-row-odd > td:nth-child(odd) {background: #fecd9f}
tr.board-row.board-row-odd > td:nth-child(even) {background: #d08b46}
